/* font-family: "Playfair Display", serif;
font-family: "Poppins", sans-serif; */
:root {
  --branding-color: #6c63ff;
  --secondary-color: #f9f7fe;
  --defualt-font-family: "Poppins", sans-serif;
  --header-font-family: "Playfair Display", serif;
}
body {
  font-family: var(--defualt-font-family);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #272142;
  font-weight: bold;
}
.logo {
  max-width: 150px;
  max-height: 48px;
}
nav {
  padding: 20px;
}
nav ul {
  padding: 0;
}
nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 24px;
}
nav a {
  text-decoration: none;
  color: #272142;

  transition: all 100ms ease-in-out;
}
nav a:hover,
nav li.active a {
  color: var(--branding-color);
  opacity: 1;
}

.hero {
  background: var(--secondary-color);
  text-align: center;
  padding: 160px 20px;
}
.hero p {
  font-weight: bold;
  font-size: 36px;
  margin: 0;
  color: #272142;
}
.content-container {
  padding: 160px 20px;
}
.content {
  margin: 30px;
}

.content h1 {
  font-size: 64px;
  line-height: 80px;
}
.content h2 {
  font-size: 18px;
  font-family: var(--defualt-font-family);
}
.content h3 {
  font-size: 24px;
  line-height: 1.5;
  font-family: var(--defualt-font-family);
}
.content p {
  font-size: 14px;
}
h1 {
  font-family: var(--header-font-family);
  color: black;
  line-height: 2;
  font-size: 96px;
}
.hero h2 {
  font-size: 24px;
  font-weight: normal;
}
.btn-branding {
  background: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 12px 30px;
}
h2 {
  font-size: 64px;
  font-family: var(--header-font-family);
}
p {
  font-size: 16px;
  font-weight: normal;
  line-height: 30px;
}
.btn-branding-outline {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 12px 30px;
}
.project-discription {
  padding: 120px 60px;
}
footer {
  margin: 60px 0;
}
footer .content-box {
  background-color: var(--secondary-color);
  padding: 48px 120px;
  border-radius: 20px;
  margin: 0 30px 80px;
}
footer .email-link {
  text-decoration: none;
  color: #272142;
  font-size: 24px;
  text-align: center;
}
footer .content-box h4 {
  font-family: var(--header-font-family);
  font-size: 48px;
  font-weight: bold;
}
footer .content-box p {
  margin: 0;
}
footer .email-link:hover {
  color: var(--branding-color);
}
footer .social-links a {
  margin: 0 20px;
  font-size: 24px;
  color: var(--branding-color);
  background-color: var(--secondary-color);
  padding: 8px 14px 6px;
  border-radius: 50%;
  transition: all 100ms ease-in-out;
}
footer .social-links a:hover {
  color: white;
  background-color: var(--branding-color);
}

@media (max-width: 960px) {
  h1 {
    font-size: 60px;
  }
  h2 {
    font-size: 44px;
  }

  .btn-branding {
    font-size: 16px;
  }
  .content {
    text-align: center;
    padding: 0;
  }
  .hero {
    padding: 80px 20px;
  }
  .content h3 {
    font-size: 24px;
  }
  .project-discription {
    padding: 0;
    text-align: center;
  }
  nav a {
    font-size: 14px;
  }
  footer .content-box h4 {
    font-size: 36px;
  }
  footer .content-box p {
    font-size: 14px;
    margin-bottom: 30px;
  }
  footer .content-box {
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center-align items for aesthetics */
    text-align: center; /* Center-align the text */
  }
}
