/* font-family: "Playfair Display", serif;
font-family: "Poppins", sans-serif; */
:root {
  --branding-color: #6c63ff;
  --secondary-color: #f9f7fe;
  --defualt-font-family: "Poppins", sans-serif;
  --header-font-family: "Playfair Display", serif;
}
body {
  font-family: var(--defualt-font-family);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #272142;
  font-weight: bold;
}

.hero {
  background: var(--secondary-color);
  text-align: center;
  padding: 160px 20px;
}
.hero p {
  font-weight: bold;
  font-size: 36px;
  margin: 0;
  color: #272142;
}
.content-container {
  padding: 160px 20px;
}
.content {
  margin: 30px;
}

.content h1 {
  font-size: 64px;
  line-height: 80px;
}
.content h2 {
  font-size: 18px;
  font-family: var(--defualt-font-family);
}
.content h3 {
  font-size: 24px;
  line-height: 1.5;
  font-family: var(--defualt-font-family);
}
.content p {
  font-size: 14px;
}
h1 {
  font-family: var(--header-font-family);
  color: black;
  line-height: 2;
  font-size: 96px;
}
.hero h2 {
  font-size: 24px;
  font-weight: normal;
}
.btn-branding {
  background: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 12px 30px;
}
h2 {
  font-size: 64px;
  font-family: var(--header-font-family);
}
p {
  font-size: 16px;
  font-weight: normal;
  line-height: 30px;
}
.btn-branding-outline {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 12px 30px;
}
.project-discription {
  padding: 120px 60px;
}
@media (max-width: 960px) {
  h1 {
    font-size: 60px;
  }
  h2 {
    font-size: 44px;
  }
  .content {
    text-align: center;
    padding: 0;
  }
  .hero {
    padding: 80px 20px;
  }
  .content h3 {
    font-size: 18px;
  }
  .project-discription {
    padding: 0;
    text-align: center;
  }
}
